.product{
	&-pic{
		height : 300px;
	}
	&-container {
		border: 1px solid black;
		margin: 15px;
	}
	&-name {
		font-size: 25px;
	    font-weight: bolder;
	    font-family: monospace;
	}
	&-add{
		width: 70%;
		background-color: #ffcd49; 
		cursor: pointer;
		margin: 2px;
	}
}
.containerOuter {
	font-family: cursive;
	color: #24303e;
	&-cart{
		margin-bottom: 20px;
	    font-size: 30px;
	    font-weight: 400;
	}
	&-prd{
		font-size: 40px;
		font-weight: 500;
	}
}
.heading{
	font-size: 15px;
}
.cart{
	&-pic{
		height: 50px;
	}
	&-name{
		font-size: 15px;
	    font-weight: bolder;
	    font-family: monospace;
	}
	&-item{
		border: 1px solid black;
		margin-bottom: 15px; 
	}
}
.operation{
	background-color: #bfbebe; 
	margin: 2px;
	float: left;
	cursor: pointer;
}
.emptyCart {
	margin: 70px;
	font-size: 20px;
	font-family: fantasy;
}